.header {
  position: relative;
  padding: 10px 0px 10px 0px;

  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0px 21px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    padding: 0;
  }
}
