.mailing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mailing-sub {
  width: 100%;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;

  &__input {
    width: 100%;
    max-width: 450px;
    height: 50px;
    background-color: $secondary-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: $second-accent-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus + .mailing-sub__label {
      color: $accent-color;
    }
  }
  &__label {
    color: $second-accent-color;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition-property: color;
    transition-timing-function: $cubik;
    transition-duration: $trans-dur;
  }
}
