.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  @extend %list;

  // list-style: none;
  // padding: 0;
  // margin: 0;
  margin-left: 95px;

  &__item {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    padding-bottom: 32px;
    padding-top: 32px;

    color: $primary-text-color;
    text-decoration: none;

    transition-property: color;
    transition-duration: $trans-dur;
    transition-timing-function: $cubik;

    &:hover {
      color: $accent-color;
    }

    &:focus {
      outline: none;
      color: $accent-color;
    }
  }

  &__current {
    color: $accent-color;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: $accent-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      bottom: 0;
      left: 0;
    }
  }
}
