$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$second-accent-color: #ffffff;
$background-color: #ffffff;
$fotter-link-color: rgba(255, 255, 255, 0.6);
$secondary-background-color: #2f303a;
$third-background-color: #f5f4fa;
$footer-socials-color: rgba(255, 255, 255, 0.1);
$icon-color: #afb1b8;
$cubik: cubic-bezier(0.4, 0, 0.2, 1);
$trans-dur: 250ms;
$wedo-color: rgba(47, 48, 58, 0.8);
$hidden-bg-color: rgba(33, 150, 243, 0.9);
$modal-bg-color: rgba(0, 0, 0, 0.2);
$fonts: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
